body {
	background-image: url("https://media-exp1.licdn.com/dms/image/C4D16AQGKo5l_L6k8ag/profile-displaybackgroundimage-shrink_200_800/0/1644621500723?e=2147483647&v=beta&t=w3_gR3Pkbpszv08wSx5es9LmWjeFd7gJDjwzh9GKKxo");
	background-size:cover;
	position:fixed;
}

.intro {
	height: 120px;
	width: 170px;
	margin-left: 25px;
	text-align:center;
	color: rgb(69, 171, 130);
}
.intro2 {
	height: 120px;
	width: 220px;
	text-align:left;
	position:absolute;
}

div {
	height: 40px;
	width: 25px;
	background-color: white;
	display:inline-block;
}

p{
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-size: 16;
	line-height: 0.7;
}

ul {
	background: white;
	list-style-type: none;
	padding:0;
	margin:0;
	overflow:hidden;
}

li {
	float: left;
	font-size: 15;
}

li a, .dbtt{
	display: inline-block;
	color:grey;
	padding: 13px 8px;
	text-decoration: none;
}

li a:hover, ddn:hover .dbtt {
	background-color: red;
}

li.ddn {
	display: inline-block;
}

.ddn-ctt{
	display: block;
	color:blue;
	position: relative;
}

.ddn-ctt a {
	color: black;
	display:block;
}

.ddn:hover .ddn-ctt{
	display:block;
}